In [ ]:
import pandas as pd
import pymysql
import json

# Loading CSV files into DataFrames using pandas

In [11]:
customers = pd.read_csv("customers.csv")
accounts = pd.read_csv("accounts.csv")
transactions = pd.read_csv("transactions.csv")
loans = pd.read_csv('loans.csv')
branches = pd.read_csv('branches.csv')
support_tick = pd.read_csv('support_tickets.csv')

In [18]:
dfs = {
    "Customers": customers,
    "Accounts": accounts,
    "Transactions": transactions,
    "Loans": loans,
    "Support Tickets": support_tick,
    "Branches": branches
}

# Describing DataFrames

In [38]:
for name, df in dfs.items():
    print(f"--- {name} ---")
    print(df.describe())
    print("\n")

--- Customers ---
              age
count  500.000000
mean    44.398000
std     15.255985
min     18.000000
25%     31.000000
50%     45.000000
75%     57.000000
max     70.000000


--- Accounts ---
       account_balance
count       500.000000
mean     246996.117180
std      143128.631994
min        1669.730000
25%      127210.265000
50%      259209.460000
75%      370645.007500
max      498739.490000


--- Transactions ---
             amount
count  10000.000000
mean   49721.848516
std    29045.696434
min      106.440000
25%    24568.575000
50%    49323.930000
75%    74957.352500
max    99999.050000


--- Loans ---
          Loan_ID  Customer_ID   Account_ID   Loan_Amount  Interest_Rate  \
count  553.000000   553.000000   553.000000  5.530000e+02     553.000000
mean   277.000000  1305.819168  2318.987342  2.472737e+06      10.528933
std    159.781622   170.117382   171.044134  1.410436e+06       2.381320
min      1.000000  1002.000000  2004.000000  5.965500e+04       6.500000
25%    139.000000  1162.000000  2175.000000  1.223813e+06       8.380000
50%    277.000000  1309.000000  2313.000000  2.481325e+06      10.490000
75%    415.000000  1454.000000  2478.000000  3.662862e+06      12.610000
max    553.000000  1598.000000  2598.000000  4.996702e+06      14.480000

       Loan_Term_Months
count        553.000000
mean          98.213382
std           75.903577
min           12.000000
25%           36.000000
50%           84.000000
75%          180.000000
max          240.000000


--- Support Tickets ---
          Loan_ID  Customer_Rating
count  229.000000       600.000000
mean   300.480349         3.011667
std    165.450305         1.402906
min      1.000000         1.000000
25%    153.000000         2.000000
50%    339.000000         3.000000
75%    442.000000         4.000000
max    553.000000         5.000000


--- Branches ---
        Branch_ID  Total_Employees  Branch_Revenue  Performance_Rating
count  520.000000       520.000000    5.200000e+02          520.000000
mean   260.500000       107.442308    1.040475e+07            2.959615
std    150.255338        54.393419    5.625453e+06            1.443978
min      1.000000        15.000000    5.033894e+05            1.000000
25%    130.750000        62.000000    5.782829e+06            2.000000
50%    260.500000       108.500000    1.030429e+07            3.000000
75%    390.250000       152.250000    1.561868e+07            4.000000
max    520.000000       200.000000    1.990557e+07            5.000000

# Info of each DataFrames

In [31]:
for name, df in dfs.items():
    print(f"--- {name} ---")
    print(df.info())
    print("\n")

--- Customers ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   500 non-null    object
 1   name          500 non-null    object
 2   gender        500 non-null    object
 3   age           500 non-null    int64
 4   city          500 non-null    object
 5   account_type  500 non-null    object
 6   join_date     500 non-null    object
dtypes: int64(1), object(6)
memory usage: 27.5+ KB
None


--- Accounts ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      500 non-null    object
 1   account_balance  500 non-null    float64
 2   last_updated     500 non-null    object
dtypes: float64(1), object(2)
memory usage: 11.8+ KB
None


--- Transactions ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   txn_id       10000 non-null  object
 1   customer_id  10000 non-null  object
 2   txn_type     10000 non-null  object
 3   amount       10000 non-null  float64
 4   txn_time     10000 non-null  object
 5   status       10000 non-null  object
dtypes: float64(1), object(5)
memory usage: 468.9+ KB
None


--- Loans ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Loan_ID           553 non-null    int64
 1   Customer_ID       553 non-null    int64
 2   Account_ID        553 non-null    int64
 3   Branch            553 non-null    object
 4   Loan_Type         553 non-null    object
 5   Loan_Amount       553 non-null    int64
 6   Interest_Rate     553 non-null    float64
 7   Loan_Term_Months  553 non-null    int64
 8   Start_Date        553 non-null    object
 9   End_Date          553 non-null    object
 10  Loan_Status       553 non-null    object
dtypes: float64(1), int64(5), object(5)
memory usage: 47.7+ KB
None


--- Support Tickets ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Ticket_ID           600 non-null    object
 1   Customer_ID         600 non-null    object
 2   Account_ID          600 non-null    object
 3   Loan_ID             229 non-null    float64
 4   Branch_Name         600 non-null    object
 5   Issue_Category      600 non-null    object
 6   Description         600 non-null    object
 7   Date_Opened         600 non-null    object
 8   Date_Closed         496 non-null    object
 9   Priority            600 non-null    object
 10  Status              600 non-null    object
 11  Resolution_Remarks  600 non-null    object
 12  Support_Agent       600 non-null    object
 13  Channel             600 non-null    object
 14  Customer_Rating     600 non-null    int64
dtypes: float64(1), int64(1), object(13)
memory usage: 70.4+ KB
None


--- Branches ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Branch_ID           520 non-null    int64
 1   Branch_Name         520 non-null    object
 2   City                520 non-null    object
 3   Manager_Name        520 non-null    object
 4   Total_Employees     520 non-null    int64
 5   Branch_Revenue      520 non-null    float64
 6   Opening_Date        520 non-null    object
 7   Performance_Rating  520 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 32.6+ KB
None

# Checking for duplicate values

In [32]:
for name, df in dfs.items():
    print(f"--- {name} ---")
    print(df.duplicated().any())
    print("\n")

--- Customers ---
False


--- Accounts ---
False


--- Transactions ---
False


--- Loans ---
False


--- Support Tickets ---
False


--- Branches ---
False

In [40]:
for name, df in dfs.items():
    print(f"--- {name} ---")
    print(df.isnull().sum())
    print("\n")

--- Customers ---
customer_id     0
name            0
gender          0
age             0
city            0
account_type    0
join_date       0
dtype: int64


--- Accounts ---
customer_id        0
account_balance    0
last_updated       0
dtype: int64


--- Transactions ---
txn_id         0
customer_id    0
txn_type       0
amount         0
txn_time       0
status         0
dtype: int64


--- Loans ---
Loan_ID             0
Customer_ID         0
Account_ID          0
Branch              0
Loan_Type           0
Loan_Amount         0
Interest_Rate       0
Loan_Term_Months    0
Start_Date          0
End_Date            0
Loan_Status         0
dtype: int64


--- Support Tickets ---
Ticket_ID               0
Customer_ID             0
Account_ID              0
Loan_ID               371
Branch_Name             0
Issue_Category          0
Description             0
Date_Opened             0
Date_Closed           104
Priority                0
Status                  0
Resolution_Remarks      0
Support_Agent           0
Channel                 0
Customer_Rating         0
dtype: int64


--- Branches ---
Branch_ID             0
Branch_Name           0
City                  0
Manager_Name          0
Total_Employees       0
Branch_Revenue        0
Opening_Date          0
Performance_Rating    0
dtype: int64

In [41]:
support_tick.shape

(600, 15)

In [42]:
support_tick['Loan_ID'] = support_tick['Loan_ID'].fillna(0)
# Null values for Loan_Id are cleared

In [43]:
support_tick.isnull().sum()

Ticket_ID               0
Customer_ID             0
Account_ID              0
Loan_ID                 0
Branch_Name             0
Issue_Category          0
Description             0
Date_Opened             0
Date_Closed           104
Priority                0
Status                  0
Resolution_Remarks      0
Support_Agent           0
Channel                 0
Customer_Rating         0
dtype: int64

# Connector

In [45]:
connection = pymysql.connect(
    host= 'localhost',
    user= 'root',
    password='root',    
)
cursor = connection.cursor()

In [46]:
Create_DB = """CREATE DATABASE IF NOT EXISTS BANK"""
cursor.execute(Create_DB)
print("Database Created successfully")

Database Created successfully

In [ ]:
#Customer table
Create_Tab = """
        CREATE TABLE IF NOT EXISTS BANK.CUSTOMERS
        (
            CUSTOMER_ID VARCHAR(10) PRIMARY KEY,
            NAME VARCHAR(50),
            GENDER CHAR(1),
            AGE INT,
            CITY VARCHAR(50),
            ACCOUNT_TYPE VARCHAR(20),
            JOIN_DATE DATE  
        )
"""
cursor.execute(Create_Tab)

0

In [ ]:
# inserting records from DataFrames to SQL Table
for index, rows in customers.iterrows():
    cursor.execute("""
                   INSERT INTO BANK.CUSTOMERS(`customer_id`, `name`, `gender`, `age`, `city`, `account_type`,`join_date`)
                    VALUES (%s,%s,%s,%s,%s,%s,%s)""",
                    (rows['customer_id'], rows['name'], rows['gender'],rows['age'],rows['city'],rows['account_type'],rows['join_date']))

connection.commit()

IntegrityError: (1062, "Duplicate entry 'C0001' for key 'customers.PRIMARY'")

In [ ]:
# Records succesfully inserted
cursor.execute("""SELECT * FROM BANK.CUSTOMERS""")
rows = cursor.fetchall()
for row in rows:
    print(row)

('C0001', 'Richard Wilson', 'M', 65, 'Kimberlyburgh', 'Savings', datetime.date(2023, 8, 27))
('C0002', 'Holly Parker', 'F', 41, 'Port David', 'Current', datetime.date(2023, 12, 8))
('C0003', 'Megan Alvarez', 'M', 46, 'West Laurieton', 'Savings', datetime.date(2022, 5, 25))
('C0004', 'Nicholas Stewart', 'F', 39, 'Amyville', 'Current', datetime.date(2020, 11, 30))
('C0005', 'Douglas Anderson', 'M', 70, 'New Craigport', 'Current', datetime.date(2023, 1, 29))
('C0006', 'Christopher Burton', 'F', 70, 'North Cody', 'Savings', datetime.date(2023, 6, 12))
('C0007', 'Jasmine Morris', 'M', 69, 'Kristaborough', 'Savings', datetime.date(2023, 10, 9))
('C0008', 'Mark Cooper', 'F', 30, 'Port Jenniferton', 'Current', datetime.date(2023, 4, 25))
('C0009', 'Christopher Smith', 'M', 66, 'Port Nathan', 'Savings', datetime.date(2020, 8, 17))
('C0010', 'Connie Rodriguez', 'F', 56, 'Banksburgh', 'Savings', datetime.date(2023, 6, 21))
('C0011', 'Carolyn Higgins', 'M', 26, 'Kinghaven', 'Savings', datetime.date(2024, 1, 25))
('C0012', 'Ryan Ramos', 'F', 18, 'Donnaton', 'Savings', datetime.date(2021, 10, 4))
('C0013', 'Alicia Cohen MD', 'F', 45, 'West Williamview', 'Current', datetime.date(2022, 9, 16))
('C0014', 'Paul Garcia', 'M', 35, 'Raymondtown', 'Savings', datetime.date(2021, 1, 9))
('C0015', 'Mr. Caleb Wagner', 'M', 41, 'Terryside', 'Savings', datetime.date(2020, 6, 5))
('C0016', 'Kelly Jenkins', 'M', 63, 'Zacharyport', 'Savings', datetime.date(2020, 6, 6))
('C0017', 'Jesus Davenport', 'F', 26, 'South Randyshire', 'Current', datetime.date(2023, 6, 7))
('C0018', 'Scott Guerrero', 'M', 65, 'Jaredland', 'Savings', datetime.date(2023, 1, 20))
('C0019', 'Anthony Jordan', 'M', 43, 'Macdonaldborough', 'Savings', datetime.date(2024, 2, 3))
('C0020', 'Patricia Wagner', 'M', 26, 'Randallshire', 'Savings', datetime.date(2024, 5, 3))
('C0021', 'William Jones', 'F', 66, 'South Stephanie', 'Savings', datetime.date(2023, 4, 1))
('C0022', 'Christine Williams', 'F', 40, 'Smithside', 'Savings', datetime.date(2021, 11, 17))
('C0023', 'Jennifer Hodges', 'M', 56, 'New Jamesville', 'Savings', datetime.date(2023, 2, 11))
('C0024', 'Kevin Ross', 'F', 70, 'Lake Keith', 'Current', datetime.date(2022, 5, 3))
('C0025', 'Chelsea Booth', 'F', 18, 'South Jenniferberg', 'Savings', datetime.date(2021, 1, 12))
('C0026', 'Jacob Williams', 'M', 57, 'New Nicholas', 'Current', datetime.date(2022, 5, 1))
('C0027', 'Elizabeth Robinson', 'M', 50, 'Johnstad', 'Current', datetime.date(2022, 8, 16))
('C0028', 'Adam Jones', 'F', 49, 'North Colleenstad', 'Savings', datetime.date(2023, 7, 19))
('C0029', 'Michael Baker', 'F', 59, 'Smithmouth', 'Savings', datetime.date(2022, 10, 27))
('C0030', 'Linda Miller', 'M', 66, 'Kaisermouth', 'Current', datetime.date(2020, 7, 19))
('C0031', 'David Miranda', 'F', 53, 'West Steven', 'Current', datetime.date(2021, 8, 6))
('C0032', 'John Novak', 'F', 36, 'Angelaport', 'Savings', datetime.date(2023, 10, 29))
('C0033', 'Jamie Campos', 'F', 28, 'North Adam', 'Current', datetime.date(2021, 2, 16))
('C0034', 'Vanessa Reese', 'F', 41, 'Antonioborough', 'Savings', datetime.date(2023, 10, 29))
('C0035', 'Todd Zamora', 'F', 25, 'Deborahton', 'Current', datetime.date(2022, 5, 6))
('C0036', 'Samuel Johnson', 'F', 65, 'Murillobury', 'Current', datetime.date(2021, 12, 16))
('C0037', 'Connor Holloway', 'M', 35, 'North Stephanie', 'Savings', datetime.date(2022, 1, 16))
('C0038', 'Jennifer Jacobson', 'F', 70, 'Heathermouth', 'Savings', datetime.date(2021, 3, 5))
('C0039', 'Gabriel Garner', 'M', 44, 'West Adrianburgh', 'Savings', datetime.date(2022, 12, 27))
('C0040', 'Christopher Raymond', 'F', 51, 'Port Kellystad', 'Current', datetime.date(2021, 6, 18))
('C0041', 'Suzanne Dixon', 'F', 68, 'Alexfurt', 'Savings', datetime.date(2024, 4, 27))
('C0042', 'Kendra Hall', 'M', 25, 'Lake Barbarashire', 'Savings', datetime.date(2021, 1, 9))
('C0043', 'Jordan Carlson', 'M', 32, 'East Sarah', 'Current', datetime.date(2024, 3, 14))
('C0044', 'Robert Blevins', 'M', 21, 'Port Natalie', 'Current', datetime.date(2021, 11, 10))
('C0045', 'Tracy Flores', 'M', 65, 'Russellshire', 'Savings', datetime.date(2020, 11, 1))
('C0046', 'Virginia Ayala', 'M', 50, 'Flynnville', 'Savings', datetime.date(2023, 5, 15))
('C0047', 'Kimberly Adams', 'F', 64, 'Saundershaven', 'Savings', datetime.date(2023, 2, 7))
('C0048', 'Melissa Villanueva', 'M', 60, 'Kirkside', 'Current', datetime.date(2022, 2, 23))
('C0049', 'Robert Carter', 'M', 34, 'East Rachaelstad', 'Savings', datetime.date(2022, 4, 3))
('C0050', 'Howard Wheeler', 'M', 29, 'Kimberlyfort', 'Savings', datetime.date(2024, 2, 7))
('C0051', 'George Yates', 'M', 28, 'Heatherport', 'Current', datetime.date(2023, 12, 14))
('C0052', 'Lori Bautista', 'M', 45, 'Juliabury', 'Savings', datetime.date(2023, 4, 2))
('C0053', 'Krystal Chaney', 'F', 48, 'New Gregory', 'Current', datetime.date(2023, 6, 15))
('C0054', 'Julie Gibson', 'F', 69, 'Williamsburgh', 'Current', datetime.date(2021, 6, 20))
('C0055', 'Timothy Odom', 'F', 63, 'Kennethborough', 'Current', datetime.date(2020, 7, 26))
('C0056', 'Danny Russell', 'F', 19, 'New Erika', 'Savings', datetime.date(2023, 8, 25))
('C0057', 'Christina Mason', 'F', 22, 'Russellhaven', 'Current', datetime.date(2022, 10, 31))
('C0058', 'Mike Miller', 'F', 31, 'East Adrienne', 'Savings', datetime.date(2022, 7, 18))
('C0059', 'Travis Gonzalez', 'M', 58, 'Kimstad', 'Current', datetime.date(2020, 9, 5))
('C0060', 'Nicole Logan', 'F', 34, 'North Kennethbury', 'Current', datetime.date(2023, 3, 5))
('C0061', 'Martin Adams', 'M', 57, 'Shirleyland', 'Current', datetime.date(2021, 4, 22))
('C0062', 'Candice Le', 'F', 53, 'West Scott', 'Current', datetime.date(2020, 5, 31))
('C0063', 'Michele Anderson', 'M', 56, 'Williamschester', 'Current', datetime.date(2022, 12, 5))
('C0064', 'Michael Vaughn', 'M', 25, 'Lake Amandatown', 'Savings', datetime.date(2021, 8, 31))
('C0065', 'Michele Murphy', 'F', 20, 'Tiffanyton', 'Savings', datetime.date(2023, 5, 18))
('C0066', 'Stephen Berry', 'M', 63, 'Simsmouth', 'Savings', datetime.date(2021, 6, 16))
('C0067', 'Ashley Becker', 'M', 22, 'Phillipsbury', 'Current', datetime.date(2021, 3, 29))
('C0068', 'Lisa Gilbert', 'F', 56, 'Glennberg', 'Current', datetime.date(2023, 5, 4))
('C0069', 'Paul Cook', 'M', 21, 'Sanchezshire', 'Savings', datetime.date(2022, 11, 2))
('C0070', 'Christina Mendoza', 'F', 54, 'Christopherport', 'Savings', datetime.date(2021, 3, 10))
('C0071', 'Melvin Thomas', 'M', 65, 'East Richard', 'Savings', datetime.date(2021, 1, 10))
('C0072', 'Reginald Hodges', 'M', 59, 'Port David', 'Savings', datetime.date(2023, 5, 12))
('C0073', 'Ana Cochran', 'M', 19, 'Gordonmouth', 'Savings', datetime.date(2021, 6, 17))
('C0074', 'Joe Schultz', 'F', 61, 'Jillhaven', 'Savings', datetime.date(2022, 3, 28))
('C0075', 'Sara Elliott', 'M', 66, 'South Jenniferberg', 'Savings', datetime.date(2021, 7, 31))
('C0076', 'Rebecca Jones', 'F', 32, 'East Jillland', 'Savings', datetime.date(2021, 10, 2))
('C0077', 'Audrey Peck', 'M', 60, 'East Robin', 'Savings', datetime.date(2023, 3, 21))
('C0078', 'Jason Scott', 'M', 46, 'Dianemouth', 'Savings', datetime.date(2023, 12, 8))
('C0079', 'Michael Ford', 'F', 31, 'New Kyleberg', 'Savings', datetime.date(2023, 12, 25))
('C0080', 'Angela Warren', 'M', 44, 'Sanchezmouth', 'Current', datetime.date(2021, 2, 6))
('C0081', 'Julie Farmer', 'M', 67, 'Angelatown', 'Savings', datetime.date(2022, 10, 10))
('C0082', 'Kevin Tate', 'F', 30, 'Port Gregory', 'Savings', datetime.date(2021, 6, 3))
('C0083', 'Jennifer Murphy', 'M', 19, 'Lake Shannonchester', 'Savings', datetime.date(2021, 6, 5))
('C0084', 'Cynthia Patton', 'M', 52, 'Thomasberg', 'Savings', datetime.date(2021, 12, 6))
('C0085', 'April Cooper', 'M', 60, 'South Danielle', 'Current', datetime.date(2020, 11, 8))
('C0086', 'Dorothy Lowery', 'F', 52, 'Port Sethshire', 'Current', datetime.date(2022, 8, 2))
('C0087', 'Pamela Harrison', 'F', 48, 'North Dustinchester', 'Current', datetime.date(2023, 4, 26))
('C0088', 'Sherry Cole', 'M', 55, 'South Benjamin', 'Savings', datetime.date(2022, 6, 15))
('C0089', 'John Smith', 'F', 45, 'Fergusonview', 'Current', datetime.date(2024, 3, 29))
('C0090', 'Theresa Lewis', 'F', 46, 'East Jenniferburgh', 'Current', datetime.date(2022, 1, 12))
('C0091', 'Michelle Zuniga', 'M', 47, 'Sanchezport', 'Current', datetime.date(2022, 2, 2))
('C0092', 'Sabrina Villanueva', 'F', 59, 'Lake Jordan', 'Current', datetime.date(2020, 6, 25))
('C0093', 'Ronnie Evans', 'M', 64, 'Jacobmouth', 'Current', datetime.date(2022, 12, 7))
('C0094', 'George Wu', 'M', 51, 'Randytown', 'Current', datetime.date(2023, 11, 29))
('C0095', 'Catherine Aguilar', 'F', 22, 'Lake Thomaston', 'Current', datetime.date(2020, 12, 25))
('C0096', 'John Vincent', 'F', 24, 'Jacksonside', 'Savings', datetime.date(2020, 9, 14))
('C0097', 'Victor Olsen', 'F', 25, 'North Kevinfurt', 'Current', datetime.date(2020, 11, 2))
('C0098', 'Jeffrey Anderson', 'F', 50, 'West Sherry', 'Current', datetime.date(2023, 12, 12))
('C0099', 'Nancy Coleman', 'M', 47, 'South Elizabeth', 'Current', datetime.date(2021, 10, 26))
('C0100', 'Evan Duarte', 'M', 67, 'East Christine', 'Savings', datetime.date(2023, 10, 12))
('C0101', 'Jason Ortiz', 'F', 32, 'New Matthewtown', 'Current', datetime.date(2021, 8, 24))
('C0102', 'Crystal Mckenzie', 'M', 40, 'Port Gina', 'Savings', datetime.date(2023, 6, 29))
('C0103', 'Stephanie Smith', 'F', 36, 'Johnsonborough', 'Current', datetime.date(2023, 12, 8))
('C0104', 'Brittany Bailey', 'F', 26, 'North Lisaland', 'Current', datetime.date(2023, 3, 20))
('C0105', 'Anna Davis', 'M', 65, 'Port Scotttown', 'Savings', datetime.date(2023, 9, 16))
('C0106', 'Jessica Jacobson', 'F', 36, 'Perezbury', 'Current', datetime.date(2024, 2, 6))
('C0107', 'Julie Weeks', 'F', 65, 'East Elizabeth', 'Savings', datetime.date(2023, 11, 24))
('C0108', 'Jordan Johnson', 'M', 68, 'Port Michael', 'Savings', datetime.date(2021, 5, 5))
('C0109', 'Michael Berry', 'F', 65, 'North Teresa', 'Current', datetime.date(2020, 8, 14))
('C0110', 'Mrs. Shelby Arroyo', 'M', 57, 'Allisonville', 'Current', datetime.date(2023, 11, 8))
('C0111', 'Lisa Russell', 'F', 29, 'Jessicamouth', 'Current', datetime.date(2021, 1, 9))
('C0112', 'Mark Williams', 'M', 51, 'Christopherfurt', 'Savings', datetime.date(2022, 9, 11))
('C0113', 'Michael Davis', 'M', 68, 'Jonesland', 'Current', datetime.date(2021, 6, 9))
('C0114', 'Jerome Silva', 'F', 46, 'East Elizabethchester', 'Current', datetime.date(2023, 11, 1))
('C0115', 'Luke Hernandez', 'M', 45, 'New Oscarshire', 'Current', datetime.date(2022, 11, 17))
('C0116', 'Michael Carter', 'M', 24, 'Samuelmouth', 'Current', datetime.date(2021, 2, 14))
('C0117', 'Erin Perez', 'F', 35, 'South Sarah', 'Current', datetime.date(2024, 2, 8))
('C0118', 'Aaron Murphy', 'M', 41, 'Lake Josebury', 'Current', datetime.date(2021, 7, 6))
('C0119', 'James Hanna', 'F', 32, 'East Andrew', 'Current', datetime.date(2021, 12, 23))
('C0120', 'Ann Phelps', 'F', 40, 'New Michaelfurt', 'Current', datetime.date(2021, 2, 9))
('C0121', 'Tara Ellis', 'F', 54, 'Taylorbury', 'Current', datetime.date(2023, 5, 24))
('C0122', 'Victoria Holder', 'F', 66, 'Tiffanytown', 'Savings', datetime.date(2022, 11, 4))
('C0123', 'Paul Willis', 'M', 51, 'New Jillian', 'Current', datetime.date(2023, 6, 21))
('C0124', 'Marissa Navarro', 'M', 33, 'West Jacquelinemouth', 'Current', datetime.date(2021, 6, 13))
('C0125', 'Justin Rojas', 'M', 53, 'Samanthabury', 'Savings', datetime.date(2023, 1, 11))
('C0126', 'Erica Howard', 'F', 19, 'Lake Michellechester', 'Current', datetime.date(2022, 3, 27))
('C0127', 'Melissa Reed', 'M', 70, 'Michellefort', 'Savings', datetime.date(2024, 3, 8))
('C0128', 'Erica Brooks', 'F', 37, 'Clarkeview', 'Savings', datetime.date(2023, 7, 16))
('C0129', 'Nicole Park MD', 'F', 45, 'Ashleychester', 'Current', datetime.date(2021, 12, 4))
('C0130', 'Eric Roberts', 'F', 44, 'South Lisa', 'Current', datetime.date(2021, 7, 12))
('C0131', 'Emily Lawrence', 'M', 27, 'Micheleland', 'Savings', datetime.date(2022, 7, 28))
('C0132', 'Amanda Armstrong', 'F', 40, 'Frankberg', 'Savings', datetime.date(2022, 8, 18))
('C0133', 'Erica Morrison', 'F', 35, 'New Noah', 'Savings', datetime.date(2023, 3, 14))
('C0134', 'Mrs. Alexis Reed', 'M', 59, 'Port Angela', 'Current', datetime.date(2021, 3, 21))
('C0135', 'Tyler Buchanan', 'M', 23, 'Russellbury', 'Savings', datetime.date(2023, 6, 17))
('C0136', 'Anthony Ross', 'M', 62, 'East Victoriaside', 'Current', datetime.date(2023, 7, 4))
('C0137', 'Kari Lucas', 'M', 42, 'West John', 'Savings', datetime.date(2020, 7, 30))
('C0138', 'Daniel Perry', 'M', 48, 'Scottville', 'Current', datetime.date(2022, 3, 31))
('C0139', 'Tyler Harvey', 'M', 61, 'West Taylor', 'Savings', datetime.date(2022, 7, 10))
('C0140', 'Cathy Hill', 'F', 35, 'South Jaredton', 'Current', datetime.date(2022, 9, 10))
('C0141', 'Brittney Oconnor', 'F', 38, 'Tracyberg', 'Current', datetime.date(2021, 4, 10))
('C0142', 'Melissa Dudley', 'F', 39, 'Nathanielport', 'Savings', datetime.date(2022, 6, 23))
('C0143', 'Rachel Martinez', 'F', 66, 'Meganborough', 'Savings', datetime.date(2021, 7, 3))
('C0144', 'Christopher Mckinney', 'M', 36, 'West Paulaville', 'Savings', datetime.date(2021, 9, 22))
('C0145', 'Patricia Saunders', 'F', 52, 'Randallfurt', 'Savings', datetime.date(2021, 4, 19))
('C0146', 'Ann Crosby', 'M', 20, 'North Christinaton', 'Savings', datetime.date(2022, 3, 30))
('C0147', 'Victoria Flores', 'F', 53, 'South Samuel', 'Current', datetime.date(2022, 12, 8))
('C0148', 'Lauren Jones', 'F', 54, 'North Nancymouth', 'Savings', datetime.date(2023, 1, 27))
('C0149', 'Jacob Gray', 'F', 52, 'Justinborough', 'Current', datetime.date(2023, 10, 16))
('C0150', 'Ruth Thomas', 'M', 61, 'New Michealtown', 'Savings', datetime.date(2022, 8, 19))
('C0151', 'Brian Elliott', 'M', 46, 'Port Roberthaven', 'Current', datetime.date(2021, 8, 6))
('C0152', 'Alvin Perry', 'F', 64, 'Brendachester', 'Current', datetime.date(2024, 3, 1))
('C0153', 'Michelle King', 'F', 38, 'New Alexandermouth', 'Savings', datetime.date(2022, 1, 17))
('C0154', 'Juan Collier', 'M', 67, 'New Kimberlyshire', 'Current', datetime.date(2023, 4, 19))
('C0155', 'Jeffrey Ray', 'F', 65, 'Lake Louisside', 'Savings', datetime.date(2021, 6, 15))
('C0156', 'Denise Evans', 'F', 21, 'South Ravenchester', 'Savings', datetime.date(2021, 9, 3))
('C0157', 'Tammy Dennis', 'M', 19, 'Christopherburgh', 'Savings', datetime.date(2021, 5, 14))
('C0158', 'Andrew Reynolds', 'F', 36, 'Hernandezshire', 'Savings', datetime.date(2023, 5, 29))
('C0159', 'James Davenport', 'F', 25, 'Brandonstad', 'Savings', datetime.date(2021, 3, 3))
('C0160', 'Kelli Romero', 'M', 52, 'Owensborough', 'Current', datetime.date(2021, 10, 26))
('C0161', 'Garrett Henry', 'F', 51, 'New Jennifertown', 'Current', datetime.date(2023, 6, 24))
('C0162', 'Jeffery Lewis', 'M', 29, 'Port Larrytown', 'Current', datetime.date(2023, 3, 22))
('C0163', 'Ashley Buck', 'M', 45, 'West Tommouth', 'Savings', datetime.date(2022, 1, 1))
('C0164', 'Gregory Santos', 'M', 55, 'Jimmyton', 'Current', datetime.date(2022, 11, 7))
('C0165', 'Shannon Adams', 'F', 27, 'Lake Normafort', 'Savings', datetime.date(2023, 1, 27))
('C0166', 'Christine Garcia', 'M', 31, 'West Coryborough', 'Current', datetime.date(2023, 1, 20))
('C0167', 'Mrs. Jill Smith', 'F', 36, 'Georgeshire', 'Current', datetime.date(2022, 8, 3))
('C0168', 'Anthony Walker', 'F', 54, 'Rodriguezberg', 'Savings', datetime.date(2024, 5, 22))
('C0169', 'Jackson Shaffer', 'M', 61, 'Lake Joseborough', 'Current', datetime.date(2021, 7, 5))
('C0170', 'Kevin Murphy', 'M', 31, 'Jenniferborough', 'Savings', datetime.date(2022, 2, 7))
('C0171', 'Michael Matthews', 'F', 31, 'Donaldhaven', 'Current', datetime.date(2022, 3, 21))
('C0172', 'Steven Hanson', 'M', 30, 'West Gregory', 'Current', datetime.date(2024, 2, 9))
('C0173', 'Mrs. Monica Madden', 'F', 69, 'West Kevinland', 'Savings', datetime.date(2020, 8, 4))
('C0174', 'Stephanie Adams', 'M', 47, 'Watsonbury', 'Savings', datetime.date(2022, 6, 4))
('C0175', 'Mark West', 'F', 57, 'Mccormickfurt', 'Current', datetime.date(2021, 11, 6))
('C0176', 'Rachel Garcia', 'M', 65, 'New Christina', 'Current', datetime.date(2022, 5, 23))
('C0177', 'Tina Morris', 'F', 58, 'New Tammy', 'Savings', datetime.date(2020, 8, 27))
('C0178', 'Anna Stewart', 'M', 22, 'Port Phillip', 'Savings', datetime.date(2021, 4, 27))
('C0179', 'Brent Cook', 'M', 48, 'Joshuatown', 'Savings', datetime.date(2021, 5, 3))
('C0180', 'Frank Ware', 'F', 25, 'Port Charlesport', 'Savings', datetime.date(2023, 1, 15))
('C0181', 'Heather Clark', 'F', 48, 'Lake Michael', 'Current', datetime.date(2020, 10, 21))
('C0182', 'Samantha Richardson', 'M', 49, 'North Daniellestad', 'Savings', datetime.date(2022, 10, 2))
('C0183', 'Christopher Taylor', 'M', 23, 'Port Kennethmouth', 'Savings', datetime.date(2021, 5, 16))
('C0184', 'Courtney Gonzales', 'M', 51, 'Brownview', 'Current', datetime.date(2020, 10, 10))
('C0185', 'Maria Lutz', 'F', 31, 'Lake Michael', 'Current', datetime.date(2021, 10, 22))
('C0186', 'Heather Arnold', 'M', 44, 'Amandabury', 'Current', datetime.date(2022, 10, 5))
('C0187', 'Cheryl Johnson', 'F', 42, 'East Mary', 'Savings', datetime.date(2024, 3, 7))
('C0188', 'Christopher Irwin', 'F', 51, 'East Lisabury', 'Current', datetime.date(2023, 10, 12))
('C0189', 'Chad Murphy', 'M', 32, 'Wintershaven', 'Current', datetime.date(2023, 3, 3))
('C0190', 'Jennifer Smith', 'M', 40, 'Zacharychester', 'Savings', datetime.date(2023, 1, 3))
('C0191', 'Stacy Owens', 'M', 56, 'Port Audreyview', 'Current', datetime.date(2022, 8, 23))
('C0192', 'James Martin', 'F', 46, 'Kaylaton', 'Savings', datetime.date(2021, 1, 22))
('C0193', 'Timothy Griffith', 'M', 31, 'Juliaview', 'Current', datetime.date(2022, 2, 16))
('C0194', 'Crystal Rowe', 'M', 59, 'Lake Kathleenburgh', 'Current', datetime.date(2023, 8, 4))
('C0195', 'Nathan Parker', 'M', 34, 'Deanstad', 'Savings', datetime.date(2020, 10, 15))
('C0196', 'Jo Rich', 'M', 67, 'Port Williamstad', 'Current', datetime.date(2023, 5, 22))
('C0197', 'Sabrina Bennett', 'F', 61, 'Onealview', 'Current', datetime.date(2020, 11, 21))
('C0198', 'Stefanie Houston', 'M', 41, 'East Monica', 'Current', datetime.date(2023, 5, 11))
('C0199', 'Brian Huynh', 'M', 50, 'Blakefort', 'Current', datetime.date(2022, 6, 13))
('C0200', 'Kayla Morgan', 'M', 69, 'West Ryanshire', 'Savings', datetime.date(2022, 9, 21))
('C0201', 'Deborah Wagner', 'F', 26, 'Garrettchester', 'Current', datetime.date(2020, 10, 4))
('C0202', 'Karl Reynolds', 'F', 41, 'Port Steven', 'Savings', datetime.date(2022, 6, 14))
('C0203', 'Scott Munoz', 'F', 22, 'West Timothychester', 'Savings', datetime.date(2024, 2, 9))
('C0204', 'Patrick Stark', 'F', 35, 'Nicholasburgh', 'Current', datetime.date(2023, 12, 4))
('C0205', 'Jim Marshall', 'M', 19, 'Thomasborough', 'Current', datetime.date(2021, 3, 2))
('C0206', 'Stephanie Woods', 'F', 29, 'Johnsonfort', 'Current', datetime.date(2020, 11, 3))
('C0207', 'Jessica Wagner', 'F', 21, 'East Jennifer', 'Current', datetime.date(2022, 4, 9))
('C0208', 'Mr. Jimmy Gonzales MD', 'M', 70, 'Amandaberg', 'Savings', datetime.date(2023, 11, 17))
('C0209', 'David Williams', 'M', 30, 'Micheleland', 'Savings', datetime.date(2021, 1, 13))
('C0210', 'Mary Robertson', 'M', 63, 'Wareburgh', 'Savings', datetime.date(2020, 11, 7))
('C0211', 'Stephanie Jones', 'F', 69, 'Kingville', 'Current', datetime.date(2020, 7, 5))
('C0212', 'Austin Phillips', 'M', 46, 'Wilsonmouth', 'Savings', datetime.date(2021, 8, 18))
('C0213', 'Dylan Russell', 'F', 54, 'Brookefurt', 'Current', datetime.date(2022, 10, 14))
('C0214', 'Alejandro Martin', 'M', 24, 'Edwardsville', 'Savings', datetime.date(2023, 1, 20))
('C0215', 'David Russell', 'F', 57, 'Bellport', 'Current', datetime.date(2022, 6, 7))
('C0216', 'Ashley Williamson', 'M', 25, 'Petersonstad', 'Savings', datetime.date(2024, 1, 27))
('C0217', 'Kathryn Bautista', 'F', 19, 'Ashleyport', 'Current', datetime.date(2021, 12, 8))
('C0218', 'Caitlin Cook', 'M', 47, 'Margaretburgh', 'Savings', datetime.date(2023, 10, 26))

In [ ]:
# Creating Accounts Table
account = """
        CREATE TABLE IF NOT EXISTS BANK.ACCOUNTS
        (
            CUSTOMER_ID VARCHAR(10), 
            ACCOUNT_BALANCE FLOAT, 
            LAST_UPDATED DATE, 
            FOREIGN KEY (CUSTOMER_ID) REFERENCES CUSTOMERS(CUSTOMER_ID)
        )
"""

cursor.execute(account)

# Inserting Values into Accounts Table
for index, rows in accounts.iterrows():
    cursor.execute("""
                   INSERT INTO BANK.ACCOUNTS(`customer_id`, `account_balance`, `last_updated`)
                   VALUES (%s,%s,%s)""",
                   (rows['customer_id'], rows['account_balance'], rows['last_updated']))
    
connection.commit()

0

In [ ]:
# Creating Transactions Table
transaction = """
            CREATE TABLE IF NOT EXISTS BANK.TRANSACTIONS
            (
                TXN_ID VARCHAR(10) PRIMARY KEY, 
                CUSTOMER_ID VARCHAR(10), 
                TXN_TYPE VARCHAR(15), 
                AMOUNT FLOAT, 
                TXN_TIME DATETIME, 
                STATUS VARCHAR(15), 
                FOREIGN KEY (CUSTOMER_ID) REFERENCES CUSTOMERS(CUSTOMER_ID)
            )
"""

cursor.execute(transaction)

# Inserting Values into Transactions Table
for index, rows in transactions.iterrows():
    cursor.execute("""
                   INSERT INTO BANK.TRANSACTIONS(`txn_id`,`customer_id`, `txn_type`, `amount`,`txn_time`,`status`)
                   VALUES (%s,%s,%s,%s,%s,%s)""",
                   (rows['txn_id'],rows['customer_id'], rows['txn_type'], rows['amount'],rows['txn_time'],rows['status']))
    
connection.commit()

In [ ]:
# Creating Loans Table
cursor.execute("""
               CREATE TABLE IF NOT EXISTS BANK.LOANS
               (
                  LOAN_ID INT PRIMARY KEY, 
                  CUSTOMER_ID VARCHAR(10), 
                  ACCOUNT_ID VARCHAR(15), 
                  BRANCH VARCHAR(100), 
                  LOAN_TYPE VARCHAR(30), 
                  LOAN_AMOUNT INT, 
                  INTEREST_RATE FLOAT,
                  LOAN_TERM_MONTHS INT,
                  START_DATE DATE, 
                  END_DATE DATE, 
                  LOAN_STATUS VARCHAR(30)
               )
""")

#Inserting Values into Loans Table
for index, rows in loans.iterrows():
    cursor.execute("""
                  INSERT INTO BANK.LOANS(`LOAN_ID`,`CUSTOMER_ID`, `ACCOUNT_ID`, `BRANCH`,`LOAN_TYPE`,`LOAN_AMOUNT`,`INTEREST_RATE`,`LOAN_TERM_MONTHS`,`START_DATE`,`END_DATE`,
                  `LOAN_STATUS`)
                  VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)""",
                  (rows['Loan_ID'],rows['Customer_ID'], rows['Account_ID'], rows['Branch'],rows['Loan_Type'],rows['Loan_Amount'],rows['Interest_Rate'],
                   rows['Loan_Term_Months'],rows['Start_Date'],rows['End_Date'],rows['Loan_Status']))

connection.commit()

0

In [ ]:
#Branches Table

cursor.execute("""
               CREATE TABLE IF NOT EXISTS BANK.Branches
               (
                   Branch_ID INT PRIMARY KEY, 
                   Branch_Name VARCHAR(100), 
                   City VARCHAR(30), 
                   Manager_Name VARCHAR(50), 
                   Total_Employees INT, 
                   Branch_Revenue FLOAT, 
                   Opening_Date DATE, 
                   Performance_Rating INT
                )
""")

#Inserting Values into Branches Table

for index, rows in branches.iterrows():
    cursor.execute("""
                   INSERT INTO BANK.branches(`Branch_ID`,`Branch_Name`, `City`, `Manager_Name`,`Total_Employees`,`Branch_Revenue`,`Opening_Date`,`Performance_Rating`)
                   VALUES (%s,%s,%s,%s,%s,%s,%s,%s)""",
                   (rows['Branch_ID'], rows['Branch_Name'], rows['City'],rows['Manager_Name'],rows['Total_Employees'],rows['Branch_Revenue'],rows['Opening_Date'],
                    rows['Performance_Rating']))


connection.commit()

0

In [ ]:
# Creating Support_ticket Table
cursor.execute("""
               CREATE TABLE IF NOT EXISTS BANK.SUPPORT_TICK
               (
                   Ticket_ID VARCHAR(30) PRIMARY KEY, 
                   Customer_ID VARCHAR(30), 
                   Account_ID VARCHAR(30), 
                   Loan_ID VARCHAR(30), 
                   Branch_Name VARCHAR(50), 
                   Issue_Category VARCHAR(100),
                   Description VARCHAR(200), 
                   Date_Opened DATE NULL, 
                   Date_Closed DATE NULL, 
                   Priority VARCHAR(15), 
                   Status VARCHAR(15),
                   Resolution_Remarks VARCHAR(200), 
                   Support_Agent VARCHAR(30), 
                   Channel VARCHAR(10), 
                   Customer_Rating INT
                   )
""")

0

In [42]:
def clean_date(val):
    if pd.isnull(val) or val in ("", None):
        return None
    return val

In [ ]:
for index, rows in support_tick.iterrows():
    cursor.execute("""
                   INSERT INTO BANK.SUPPORT_TICK
                   (
                       `Ticket_ID`,`Customer_ID`,`Account_ID`,`Loan_ID`,`Branch_Name`,`Issue_Category`,`Description`,`Date_Opened`,`Date_Closed`,`Priority`,`Status`,
                       `Resolution_Remarks`,`Support_Agent`,`Channel`,`Customer_Rating`)
                       VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s
                    )""",
                    (
                        rows['Ticket_ID'],
                        rows['Customer_ID'],
                        rows['Account_ID'],
                        rows['Loan_ID'],
                        rows['Branch_Name'],
                        rows['Issue_Category'],
                        rows['Description'],
                        clean_date(rows['Date_Opened']),
                        clean_date(rows['Date_Closed']),
                        rows['Priority'],
                        rows['Status'],
                        rows['Resolution_Remarks'],
                        rows['Support_Agent'],
                        rows['Channel'],
                        rows['Customer_Rating'],
                        )
                    )
connection.commit()

# Creating and inserting values from JSON files

In [33]:
with open("credit_cards.json", "r") as file:
    credit_cards = json.load(file) #loading json file into a variable

In [ ]:
cursor.execute("""
               CREATE TABLE IF NOT EXISTS BANK.CREDIT_CARDS
               (
                   Card_ID INT PRIMARY KEY,
                   Customer_ID INT,Account_ID INT,
                   Branch VARCHAR(50),
                   Card_Number VARCHAR(20),
                   Card_Type VARCHAR(20),
                   Card_Network VARCHAR(15),
                   Credit_Limit INT,
                   Current_Balance FLOAT,
                   Issued_Date DATE,
                   Expiry_Date DATE,
                   Status VARCHAR(15)
                   )
            """)

0

In [ ]:
for records in credit_cards:
    cursor.execute("""
                   INSERT INTO BANK.credit_cards(`Card_ID`,`Customer_ID`,`Account_ID`,`Branch`,`Card_Number`,`Card_Type`,`Card_Network`,`Credit_Limit`,
                   `Current_Balance`,`Issued_Date`,`Expiry_Date`,`Status`) 
                    VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)""",
                    (records["Card_ID"],records['Customer_ID'],records['Account_ID'],records['Branch'],records['Card_Number'],records['Card_Type'],
                     records['Card_Network'],records['Credit_Limit'],records['Current_Balance'],records['Issued_Date'],records['Expiry_Date'],records['Status']))
connection.commit()

# Questions

In [48]:
quetions = {
        "Q1" : 
            """SELECT 
	                C.CITY, 
                    COUNT(DISTINCT C.CUSTOMER_ID) AS Total_Customers,
                    ROUND(AVG(A.ACCOUNT_BALANCE),2) AS Average_Balance
                FROM CUSTOMERS C 
                JOIN ACCOUNTS A ON C.CUSTOMER_ID = A.CUSTOMER_ID 
                GROUP BY C.CITY
                ORDER BY Average_Balance DESC""",
        "Q2" :
            """SELECT 
	                C.ACCOUNT_TYPE 
                FROM CUSTOMERS C
                JOIN ACCOUNTS A ON C.CUSTOMER_ID = A.CUSTOMER_ID
                GROUP BY ACCOUNT_TYPE
                HAVING MAX(A.ACCOUNT_BALANCE)
                ORDER BY C.ACCOUNT_TYPE 
                LIMIT 1""",
        "Q3" :
            """SELECT 
	            C.CUSTOMER_ID, 
                C.Name,
                ROUND(SUM(A.Account_Balance),2) AS Total_Balance 
            FROM ACCOUNTS A 
            JOIN CUSTOMERS C ON C.CUSTOMER_ID = A.CUSTOMER_ID
            GROUP BY C.CUSTOMER_ID
            ORDER BY Total_Balance DESC
            LIMIT 10""",
        "Q4" :
            """SELECT 
	            C.CUSTOMER_ID,
                C.Name
            FROM CUSTOMERS C
            JOIN ACCOUNTS A ON C.CUSTOMER_ID = A.CUSTOMER_ID 
            WHERE YEAR(C.JOIN_DATE) = 2023 AND A.ACCOUNT_BALANCE > 100000;""",
        "Q5" :
            """SELECT 
	            TXN_TYPE, 
                ROUND(SUM(AMOUNT),2) AS TOTAL_AMOUNT 
            FROM TRANSACTIONS 
            GROUP BY TXN_TYPE
            ORDER BY TOTAL_AMOUNT DESC""",
        "Q6" :
            """SELECT 
	            TXN_TYPE, 
            COUNT(STATUS) AS Failed_Count 
            FROM TRANSACTIONS WHERE STATUS ="failed"
            GROUP BY TXN_TYPE
            ORDER BY Failed_Count DESC""",
        "Q7" :
            """SELECT 
	            TXN_TYPE,
	            COUNT(TXN_TYPE) AS Total_Transactions
            FROM TRANSACTIONS
            GROUP BY TXN_TYPE
            ORDER BY Total_Transactions DESC""",
        "Q8" :
            """SELECT 
                T.CUSTOMER_ID,
                C.Name,
                COUNT(T.CUSTOMER_ID) AS High_Value_Transactions
            FROM TRANSACTIONS T
            JOIN CUSTOMERS C ON C.CUSTOMER_ID = T.CUSTOMER_ID 
            WHERE AMOUNT > 20000
            GROUP BY T.CUSTOMER_ID 
            HAVING COUNT(T.CUSTOMER_ID) >= 5
            ORDER BY High_Value_Transactions DESC""",
        "Q9" :
            """SELECT 
	            LOAN_TYPE, 
                ROUND(AVG(LOAN_AMOUNT),2) AS Loan_Amount, 
                ROUND(AVG(INTEREST_RATE),2) AS Interest_Rate 
            FROM LOANS
            GROUP BY LOAN_TYPE
            ORDER BY Interest_Rate DESC""",
        "Q10" :
            """SELECT 
                    CUSTOMER_ID,
                    COUNT(*) AS Active_Approved_Loans
                FROM LOANS 
                WHERE LOAN_STATUS IN ('ACTIVE','APPROVED')
                GROUP BY CUSTOMER_ID
                HAVING Active_Approved_Loans>1
                ORDER BY Active_Approved_Loans DESC;""",
        "Q11" :
            """SELECT 
	                CUSTOMER_ID 
                FROM LOANS 
                WHERE LOAN_STATUS NOT IN ('CLOSED')
                GROUP BY CUSTOMER_ID
                HAVING MAX(LOAN_AMOUNT) 
                ORDER BY MAX(LOAN_AMOUNT) desc
                LIMIT 5;""",
        "Q12" :
            """SELECT 
	                BRANCH, 
	                ROUND(AVG(LOAN_AMOUNT)) AS AVG_AMOUNT 
                FROM LOANS 
                GROUP BY BRANCH
                ORDER BY AVG_AMOUNT DESC;""",
        "Q13" :
            """SELECT 
	                CASE WHEN AGE BETWEEN 18 AND 25 THEN '18-25'
		                WHEN AGE BETWEEN 26 AND 35 THEN '26-35'
		                WHEN AGE BETWEEN 36 AND 45 THEN '36-45'
		                WHEN AGE BETWEEN 46 AND 55 THEN '46-55'
		                WHEN AGE BETWEEN 56 AND 69 THEN '56-69'
		                ELSE '70+'
	                END AS AGE_GROUP,
                    COUNT(CUSTOMER_ID) AS COUNT
                FROM CUSTOMERS
                GROUP BY AGE_GROUP
                ORDER BY AGE_GROUP""",
        "Q14" :
            """SELECT 
	                ISSUE_CATEGORY 
                FROM SUPPORT_TICK 
                GROUP BY ISSUE_CATEGORY
                ORDER BY AVG(DATEDIFF(DATE_CLOSED , DATE_OPENED)) DESC
                LIMIT 1;""",
        "Q15" :
            """SELECT 
	                SUPPORT_AGENT 
                FROM SUPPORT_TICK 
                WHERE STATUS = 'Resolved' AND PRIORITY ='CRITICAL' AND CUSTOMER_RATING >= 4
                GROUP BY SUPPORT_AGENT"""
    }

In [ ]:
def answers(que):
        result = quetions[que]
        return result

In [66]:
cursor.execute("USE BANK")
for i in range (1,16):
    answer = answers(f"Q{i}")
    df = pd.read_sql(answer,connection)
    print(f"------{i}----")
    print(df)
    print("\n")

------1----
                 CITY  Total_Customers  Average_Balance
0     Margaretchester                1        498739.50
1           Kinghaven                1        498317.41
2           Johnmouth                1        494779.97
3          East Robin                1        494699.91
4          Millerstad                1        484758.19
..                ...              ...              ...
482       Port Dakota                1          5128.16
483    West Ryanshire                1          3001.59
484         Juliaview                1          2647.41
485    North Dalefort                1          1862.66
486  Port Jenniferton                1          1669.73

[487 rows x 3 columns]


------2----
  ACCOUNT_TYPE
0      Current


------3----
  CUSTOMER_ID                Name  Total_Balance
0       C0314          Amy Nguyen      498739.50
1       C0011     Carolyn Higgins      498317.41
2       C0111        Lisa Russell      497040.59
3       C0392      Amber Williams      494779.97
4       C0077         Audrey Peck      494699.91
5       C0499       Alvin Compton      484758.19
6       C0338  Sharon Bennett DVM      482746.38
7       C0317     Denise Campbell      481746.59
8       C0220       Jeffrey Smith      481568.12
9       C0146          Ann Crosby      479706.41


------4----
    CUSTOMER_ID             Name
0         C0001   Richard Wilson
1         C0002     Holly Parker
2         C0007   Jasmine Morris
3         C0017  Jesus Davenport
4         C0021    William Jones
..          ...              ...
108       C0478     Ryan Jackson
109       C0484      Rodney Cruz
110       C0489    Andrea Austin
111       C0499    Alvin Compton
112       C0500     Emily Brooks

[113 rows x 2 columns]


------5----
       TXN_TYPE  TOTAL_AMOUNT
0       deposit  1.975748e+08
1    withdrawal  1.513873e+08
2      purchase  7.383403e+07
3      transfer  5.059280e+07
4  online fraud  2.382950e+07


------6----
       TXN_TYPE  Failed_Count
0  online fraud           489
1       deposit           433
2    withdrawal           314
3      purchase           167
4      transfer            94


------7----
       TXN_TYPE  Total_Transactions
0       deposit                3921
1    withdrawal                3065
2      purchase                1513
3      transfer                1012
4  online fraud                 489


------8----
    CUSTOMER_ID             Name  High_Value_Transactions
0         C0124  Marissa Navarro                       32
1         C0398       Ryan Smith                       31
2         C0444  Caitlyn Sanchez                       27
3         C0318     Erin Johnson                       26
4         C0180       Frank Ware                       25
..          ...              ...                      ...
495       C0108   Jordan Johnson                        8
496       C0088      Sherry Cole                        8
497       C0096     John Vincent                        8
498       C0159  James Davenport                        8
499       C0431     Alicia Clark                        7

[500 rows x 3 columns]


------9----
   LOAN_TYPE  Loan_Amount  Interest_Rate
0       Home   2344576.66          10.87
1   Business   2793968.87          10.63
2       Auto   2399260.98          10.53
3   Personal   2461543.75          10.46
4  Education   2393947.70          10.11


------10----
   CUSTOMER_ID  Active_Approved_Loans
0         1231                      4
1         1010                      4
2         1411                      3
3         1383                      3
4         1455                      3
5         1249                      3
6         1088                      3
7         1292                      3
8         1488                      3
9         1470                      3
10        1180                      3
11        1325                      3
12        1502                      3
13        1382                      3
14        1359                      2
15        1155                      2
16        1020                      2
17        1462                      2
18        1146                      2
19        1531                      2
20        1565                      2
21        1481                      2
22        1101                      2
23        1317                      2
24        1551                      2
25        1460                      2
26        1126                      2
27        1580                      2
28        1378                      2
29        1549                      2
30        1408                      2
31        1073                      2
32        1528                      2
33        1587                      2
34        1405                      2
35        1308                      2
36        1386                      2
37        1209                      2
38        1275                      2
39        1236                      2
40        1363                      2
41        1108                      2
42        1059                      2
43        1430                      2
44        1284                      2
45        1162                      2
46        1123                      2
47        1216                      2
48        1263                      2
49        1420                      2
50        1132                      2
51        1364                      2
52        1005                      2
53        1270                      2
54        1495                      2
55        1255                      2


------11----
  CUSTOMER_ID
0        1262
1        1233
2        1108
3        1455
4        1368


------12----
                                     BRANCH  AVG_AMOUNT
0          Johnson, Arias and Kramer Branch   4995813.0
1         Lopez, Santana and Johnson Branch   4987450.0
2    Williams, Mcfarland and Alvarez Branch   4966720.0
3                       Rogers Group Branch   4890404.0
4                       Burke-Moreno Branch   4864325.0
..                                      ...         ...
339          Lee, Escobar and Torres Branch    206282.0
340                        Black Inc Branch    157126.0
341                    Russell-Patel Branch    131137.0
342                   Johnson-Hunter Branch     93465.0
343                      Garcia-Kane Branch     59655.0

[344 rows x 2 columns]


------13----
  AGE_GROUP  COUNT
0     18-25     79
1     26-35     76
2     36-45    101
3     46-55     99
4     56-69    133
5       70+     13


------14----
     ISSUE_CATEGORY
0  Card Not Working


------15----
      SUPPORT_AGENT
0      Owen Mahajan
1        Veda Samra
2  Wriddhish Sarraf
3     Chanakya Natt
4     Gabriel Mutti
5       Vansha Sood
6      Advik Bhagat

C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)
C:\Users\Sushmethaa\AppData\Local\Temp\ipykernel_17992\1165803470.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(answer,connection)